
{% extends 'theme.html' %}

{% block content%}
{{data}}
<div class="container">
    <div class="row">

        {% for product in products %}
            <div class="col-sm-4">
                <form action="ProductId" method="POST">
                         {% csrf_token %}
                <div class="card">
                    <img src="{{product.image}}" class="card-img-top" alt="...">
                  <div class="card-body">
                       {% for UserDetails in UserDetailslog %}
                         <input type="hidden" name="UserId" id="UserId" value="{{UserDetails.id}}">
                        {% endfor %}
                      <input type="hidden" name="prId" id="prId" value="{{product.Product_name}}">
                     <h5 class="card-title">{{product.Product_name}}</h5>
                      <button type="submit" class="btn btn-primary" >Select</button>
                  </div>
                </div>
                </form>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
